@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  @keyframes zoom-in {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes zoom-out {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  .animate-zoom-in {
    animation: zoom-in 0.3s ease-out;
  }

  .animate-zoom-out {
    animation: zoom-out 0.3s ease-in;
  }
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}
